.services{
  text-align: center;
    padding: 3rem 0rem;
   
}
.services p{
    font-weight: var(--normal);
    font-size: 24px;
    color: black;
    margin-bottom: 1rem;
}
.work-button{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

}
.work-button button{
    width: 130px;
    background-color: #7a7a7a;
    height: 33px;
    text-align: center;
    font-size: 15px;
    font-weight: var(--light);
    border: 1px solid;
    border-radius: 5px;
    cursor: "pointer";
    position: "relative";
}

.show-work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 10rem;
    gap: 4rem;
 justify-content: space-around;
/* background-color: azure; */
}
.show-work img{
    width: 45%;
    height: 270px;
    border-radius: 10px;
}
@media screen and (max-width:1600px) {

    .show-work{
        padding: 3rem 8rem;
    }
}
@media screen and (max-width:1400px) {

    .show-work{
        padding: 3rem 5rem;
    }
}
@media screen and (max-width:1200px) {
    .work-button{
        gap: 1rem;
    }
    .show-work{
        padding: 3rem 3rem;
    }

}
@media screen and (max-width:1050px) {
    .show-work{
        padding: 3rem 2rem;
    }
}
@media screen and (max-width:990px) {
    .show-work img{
        width: 40%;
    }
}
@media screen and (max-width:810px) {
    .work-button button{
        width: 180px;
    }
    .show-work img{
        width: 60%;
    }
 
}
@media screen and (max-width:700px) {
    .work-button button{
        width: 130px;
    }
    .show-work img{
        width: 80%;
    }
}
@media screen and (max-width:530px) {
    .show-work img{
        width: 100%;
    }
    .work-button button{
        width: 170px;
    }
}