.home{
 text-align: center;
padding-right: 23rem;
padding-top: 13rem;
margin-bottom: 20rem;

}
.work{
    padding: 5px 35px 5px 15px;
   border: 6px solid #4BD2B7;
   position: relative;

}

.work:hover{
    box-shadow: 1px 2px 18px 16px rgba(62,168,163,0.75);
    -webkit-box-shadow: 1px 2px 18px 16px rgba(62,168,163,0.75);
    -moz-box-shadow: 1px 2px 18px 16px rgba(62,168,163,0.75);
}
.arrow{
    position: absolute;
     right: 8px;
     font-size: 30px;
}
.work:hover .arrow{
     animation-name: arrowDown;
     animation-iteration-count: infinite;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     
}
.read-more{
    background-color: white;
    color: #246E64;
    padding: 5px 15px;
    font-size: 20px;
    margin-top: 5rem;
    
}
.read-more:hover{
    box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);
}
.read-more:active{
    background-color: transparent;
    color: white;
    border: 3px solid white;
}
@keyframes arrowDown {
    0%{
        top: 0px;
    }
    50%{
        top:15px
    }
    100%{
        top: 0;
    }
}

.myName{
    color: #00ffaa;
}
.type-line{
    animation: line infinite .7s ;
}
@keyframes line {
   0%{
    opacity: 1;
   }

   50%{
    opacity: 0;
   }

   100%{
    opacity: 1;
   }
}
/* ============== RESPONSIVENESS ================= */
@media screen and (max-width:1700px){
    .home{
        padding-right: 0rem;
    }
}
@media screen and (max-width:1400px){
  .home{
padding-top: 18rem;
}
}
@media screen and (max-width:1100px){
    .typewrite{
      font-size: 33px;
    }
}
@media screen and (max-width:1000px){
  .home{
padding-top: 16rem;
}
}
@media screen and (max-width:600px){
    .typewrite{
      font-size: 18px;
    }
    .hello{
        font-size: 40px;
    }
    .work{
        font-size: 15px;  
         border: 4px solid #4BD2B7;
       
    }
    .arrow{
         font-size: 20px;
    }
    .read-more{
        position: absolute;
        left: 50%;
        transform: translate(-50%); 
    }
}
@media screen and (max-width:400px){
    .typewrite{
        font-size: 15px;
      }
      .hello{
          font-size: 35px;
      }
       .read-more{
     width: 90%;
    }
}
@media screen and (max-width:360px){
  .home{
padding-top: 5rem;
}
}

