.contact{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   flex-direction: column;
padding-top: 10rem;

padding-bottom: 10rem;
}
.contact p{
    font-size: 24px;
    font-weight: var(--normal);
    margin-bottom: 2rem;
}
.contact form{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   gap: 4rem;
   /* background-color: #6E959E; */
}
.contact .row{
  width: 100%;

}
.contact form .row{
    display: flex;
    flex-direction: row;
    gap: 4rem;

}
.contact form .first-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;

}
.getTouch{
    padding-bottom:4rem ;
}
.contact form .second-column{
    width: 50%;
}
.first-column input{
    background-color: #6E959E;
    padding: 1rem 1.5rem;
    height: 57px;
    border-radius: 10px;
}
.first-column input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: var(--extra-light);
}
.message{
    width: 100%;
    resize: none;
    background-color: #6E959E;
    height: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
.message::placeholder{
    color: white;
    font-size: 20px;
    font-weight: var(--extra-light);
}
.submit{
    width: 162px;
    height: 55px;
    background-color: #ffffff;
    font-size: 24px;
    color: #455B60;
    font-weight: var(--normal);
}
.submit:hover{
    box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);
-moz-box-shadow: 1px 2px 18px 7px rgba(255,255,255,0.75);

}

.submit:active{
    background-color: transparent;
    color: white;
    border: 4px solid white;
 
}
.copy{
    margin-top: 2rem;
    font-weight: var(--font-weight-semibold);
 
}

@media screen and (max-width:1600px){
    .contact form{
        width: 70%;
    }
}

@media screen and (max-width:1200px){
    .row{
        flex-wrap: wrap;
    }
    .contact form{
        width: 60%;
    }

    .contact form .second-column{
        width: 100%;
    }
    .contact form .first-column{
        width: 100%;
        
    }
    .message{
        width: 100%;
        resize: none;
        height: 150px;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
}
@media screen and (max-width:700px){

    .contact form{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       gap: 4rem;
    }
}
.logosTwo{
    padding: 10px;
    border-radius: 30px;
    z-index: 9999;
    margin-top: 1rem;
}
.logo-wrapperTwo{
  display: flex;
  flex-direction: row;
  gap: 10px;
}