.contact{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   flex-direction: column;
padding-top: 10rem;
position: absolute;
padding-bottom: 10rem;
}
.contact p{
    font-size: 24px;
    font-weight: var(--normal);
    margin-bottom: 2rem;
}
.contact form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   gap: 4rem;
}
.contact .row{
  width: 100%;

}
.contact form .row{
    display: flex;
    flex-direction: row;
    gap: 4rem;

}
.contact form .first-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;

}
.contact form .second-column{
    width: 50%;
}
.first-column input{
    background-color: #6E959E;
    padding: 1rem 1.5rem;
    height: 57px;
    border-radius: 10px;
}
.first-column input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: var(--extra-light);
}
.message{
    width: 100%;
    resize: none;
    background-color: #6E959E;
    height: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
.message::placeholder{
    color: white;
    font-size: 20px;
    font-weight: var(--extra-light);
}
.submit{
    width: 162px;
    height: 55px;
    background-color: #ffffff;
    font-size: 24px;
    color: #455B60;
    font-weight: var(--normal);
}
@media screen and (max-width:1000px){
    .row{
        flex-wrap: wrap;
    }

    .contact form .second-column{
        width: 100%;
    }
    .contact form .first-column{
        width: 100%;
        
    }
    .message{
        width: 100%;
        resize: none;
        background-color: #8E8E8E;
        height: 150px;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
}
@media screen and (max-width:700px){

    .contact form{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       gap: 4rem;
    }
    
}