.whole{
  width: 100%;
 background-color: #455C60;
text-align: center;


}
.half{
  width: 100%;
  margin-top: 12rem;

  display: flex;
  justify-content: center;
  align-items: center;

}
.main-container{
 width: 71%;

}
.hoabpose{
  box-shadow: -18px 23px 15px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: -18px 23px 15px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -18px 23px 15px -2px rgba(0,0,0,0.75);
  position: relative;
}
.hoabpo{
  border: 1px solid #d4d1d1;
  border-bottom: none;
  padding-bottom: 10rem;
 position: relative;
  background-image: linear-gradient(to bottom, #a6a6a600, #595f62ab, #42454583, #2B2B2B);
}
.myPicture{
    position: absolute;
    right: -170px;
    width: 42rem;
    top: 60px;
    /* background-color: #193030; */

}
.myPicture img{
width: 100%;
height: 100%;
}
.circle-top {
position: absolute;
  width: 120px;
  height: 116px;
  border-radius: 50%;
  background-color: #B6B6B6;
  bottom: -3.5rem;
  left: 50%;
  transform: translate(-50%);
  clip-path: inset(0 0 40% 0); /* Cuts the bottom half */
  z-index: 100;
}
.services-content .circle {
  position: absolute;
  width: 120px;
  height: 116px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-right-radius: none;
  border-bottom-left-radius: none;
  background-color: #455C60;
  bottom: -3.6rem;
  left: 50%;
  transform: translate(-50%);
  clip-path: inset(0 0 50% 0); /* Cuts the bottom half */
  box-shadow: -5px 43px 34px -38px rgba(0, 0, 0, 0.43) inset;
  -webkit-box-shadow: -5px 43px 34px -38px rgba(0, 0, 0, 0.43) inset;
  -moz-box-shadow: -5px 43px 34px -38px rgba(0, 0, 0, 0.43) inset;
}
.services-content .rectangle {
  position: absolute;
  background-color: #455C60;
  transform: translate(-50%);
  left: 50%;
  width: 120px;
  height: 60px;
  bottom: -3.7rem;
  transform: translate(-64%) skewX(-30deg);
}

/* ====================== SOCIAL MEDIA LOGOS =================== */
.logos{
  position: fixed;
    display: block;
    padding: 10px;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    z-index: 9999;
    background-color: #193030;
    box-shadow: -5px 10px 10px -2px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -5px 10px 10px -2px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -5px 10px 10px -2px rgba(0,0,0,0.75) inset;

}
.linkin{
  border-radius: 50%;
  height: 39px;
    width: 39px;
  background-color: #0066C8;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.linkin:hover{
  box-shadow: -1px 1px 18px 11px rgba(0,102,200,0.75);
-webkit-box-shadow: -1px 1px 18px 11px rgba(0,102,200,0.75);
-moz-box-shadow: -1px 1px 18px 11px rgba(0,102,200,0.75)
}
.facebook{
  border-radius: 50%;
  height: 39px;
    width: 39px;
  background-color: #0D8BF1;
 font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.facebook:hover{
  box-shadow: -1px 1px 18px 11px rgba(8,124,234,0.75);
-webkit-box-shadow: -1px 1px 18px 11px rgba(8,124,234,0.75);
-moz-box-shadow: -1px 1px 18px 11px rgba(8,124,234,0.75);
}
.gitHub{
  border-radius: 50%;
  height: 39px;
    width: 39px;
  background-color: rgb(0, 0, 0);
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-top: 8px;
  color: rgb(255, 255, 255);

}
.gitHub:hover{
  box-shadow: -1px 1px 18px 11px rgba(255, 255, 255, 0.75);
-webkit-box-shadow: -1px 1px 18px 11px rgba(255, 255, 255, 0.75);
-moz-box-shadow: -1px 1px 18px 11px rgba(255, 255, 255, 0.75);
}

/* ====================== SOCIAL MEDIA LOGOS RESPONSIVE =================== */

/* =================== NAVIGATION CSS ===================*/
/* .logo{
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 50%;
} */
.logo {
  height: 100px;
  width: 100px;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding:  0rem 1rem 0rem 2rem;
  width: 100%;
  overflow: hidden;
}
.nav-list {
  display: none;
  visibility: none;
  justify-content: center;
  align-items: center;
  color: #455B60;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  gap: 5rem;
  width: 70%;


}



.nav-list li a {
  font-size: 24px;
  font-weight: var(--bold);
  padding: 10px 0;
  position: relative;
}
.nav-list li a::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #95d0d3;
  position: absolute;
  left: 0;
  transition: 0.2s ease-in-out;
  transform: scaleX(0);
  bottom: -5px;
  border-radius: 5px;
} 
.nav-list li a:hover::before {
  transform: scaleX(1);
}


/* ================== BURGER NAV ===================*/
.burger {
  visibility: visible;
  font-size: 40px;
  color: #455B60;
  padding: 5px;
  
}
.burger:hover {
  background-color: #d4d1d1;
}
.nav-list.show {
  top: 100px;
  display: block;
  left: 50%;
  transform: translate(-50%);
  background-color: #32534b;
  width: 100%;
  color: white;
  text-align: center;

  z-index: 100;
}



.nav-list.show li a {
  font-size: 24px;
}
.nav-list.show li:hover {
  background-color: rgb(93, 163, 136);
  transition: 0.3s ease-in-out;
}
.nav-list.show li {
  font-size: 24px;
  padding: 5px 0;
}
.nav-list.show li a:hover::before {
  transform: scaleX(0);
}

/* ================= Nav Responsiveness =================== */

/*  ============== My Picture Responsive ================= */

@media screen and (max-width: 1500px) {
  .myPicture{
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 1400px) {
  .nav-list li a {
    font-size: 24px;
  }
  .nav-list {
    gap: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav-list li a {
    font-size: 20px;
  }
  .nav-list {
    gap: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .nav-list {
    visibility: visible;
    display: flex;
  }
  .burger {
    visibility: hidden;
  }
}
@media screen and (max-width: 800px) {
  .main-container{
    width:100%;

    box-shadow: none;
  }
  .hoabpo{
    border: none;
  }
}



.mouse-container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 1.8rem;
  height: 2.5rem;
  background-color: rgba(255, 253, 253, 0);
  z-index: 100;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffffb9 1px solid;

  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.mouse-container .mouse-scroll {
  width: 4px;
  position: absolute;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: mouseScroll 1.5s infinite ease-in-out;
}
@keyframes mouseScroll {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  50% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
/* =================== SERVICES CONTENT ==================== */

.services-content {
  background-color: #b6b6b6;
width: 100%;

}
/* =======================BURGER MENU ===================== */
