.Portfolio {
  padding-top: 5rem;
  height: 700px;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  height: 90%;
}
.project .port-wrapper:hover {
  margin-left: 3rem;
  width: 50%;
  height: 65%;
}
.project .port-wrapper {
  background-color: #666666;
  padding: 2rem 4rem 2rem 0;
  height: 27rem;
  width: 60%;
  transition: 0.3s ease-in-out;
}

.project .port-wrapper img {
  width: 100%;
  height: 100%;
}
.portfolio-title {
  text-align: center;
}
.portfolio-title p {
  font-weight: var(--bold);
  font-size: 40px;
  margin-bottom: 3rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.port-info {
  width: 35%;
  text-align: left;
}
.port-title {
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
  font-style: italic;
}
.port-description {
  font-size: 17px;
  font-weight: var(--normal);
}
/* ============= RESPONSIVE ================ */
@media screen and (max-width: 1401px) {
  .Portfolio {
    margin-bottom: 15rem;
  }

  .project {
    padding: 0 2rem;
    flex-wrap: nowrap;
  }
  .project .port-wrapper {
    width: 60%;
  }
  .port-info {
    width: 35%;
    padding: 20px 0px;
  }
  .project .port-wrapper:hover {

  width: 50%;
}
}

@media screen and (max-width: 1000px) {
  .project {
    flex-wrap: wrap;
  }
  .project .port-wrapper {
    width: 100%;
    height: 75%;
  }
  .port-info {
    width: 100%;
  }
  .port-info {
    order: -1;
  }
    .project .port-wrapper:hover {
 
  width: 85%;
}
}
@media screen and (max-width: 800px) {
  .port-title {
    font-size: 25px;
  }
  .portfolio-title p {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .project {
    padding: 2rem;
  }
  .port-info {
    padding: 0 2rem;
  }
  .Portfolio {
    padding-top: 5rem;
    height: 500px;
  }
  .project .port-wrapper {
    height: 100%;
    padding-right:3rem ;
  }

  .project .port-wrapper:hover {
    margin-bottom: 1rem;
    width: 80%;
    height: 90%;
  }
}
@media screen and (max-width: 500px) {
  .project {
    padding: 0;
  }
  .port-info {
    padding: 0 2rem;
  }
  .Portfolio {
    padding-top: 5rem;
    height: 500px;
  }
  .project .port-wrapper {
    height: 70%;
  }
  .portfolio-title p {
    font-size: 30px;
  }
  .project .port-wrapper:hover {
    margin-bottom: 1rem;
    width: 80%;
    height: 60%;
  }
}
