.Portfolio{
    padding-top: 5rem ;
}
.project{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 6rem;
    gap: 3rem;
   justify-content: center;
   align-items: center;

    
}
.portfolio-title{
    text-align: center;
}
.portfolio-title p{
    font-weight: var(--normal);
    font-size: 40px ;
    margin-bottom: 2rem;
    letter-spacing:.5rem;
    text-align: center;
}
.project img{
   width: 45%;
}